
.form{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 50px;
    color: white;
    border: 3px solid #c4e8ff;
    border-radius: 10px;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form input{
    width: 100%;
    padding: 30px;
    border: 3px solid #c4e8ff;
    border-radius: 15px;
    background-color: rgba(248, 250, 255, 0.185);
    font-size: large;
    color: rgb(255, 255, 255);
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.form button{
    width: 100%;
    padding: 30px;
    background: linear-gradient(221deg, rgba(0,184,255,1) 20%, rgba(0,95,255,1) 100%);
    color: var(--bg);
    border-radius: 15px;
    font-size: 24PX;
    font-weight: bold;
    cursor: pointer;
    
}

.title{
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 36px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.welcome{
    text-align: left;
    color: rgb(255, 255, 255);
}


.noaccount{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.noaccount span{
    color: var(--bg-main-orange);
    font-size: 16px;
}
.errormsg{
    color: red;
}