.container {
  background-color: var(--bg);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form input,
.form textarea,
.form select {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #aca8a8;
  color: var(--text);
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form input,
.form select {
  width:100%;
}


.form button{
    padding: 10px;
    cursor: pointer;
    background: var(--textSoft);
    color: var(--bg);
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* //https://www.w3schools.com/css/tryit.asp?filename=trycss_form_responsive */